@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ddd;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h2,
h3 {
  color: #ec008c;
}

/* HEADER */

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.wrapper-header {
  width: 75%;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul,
nav li {
  list-style-type: none;
}

nav ul {
  display: flex;
}

nav a {
  margin-left: 0.75em;
  position: relative;
  bottom: -4px;
}

#icon-code {
  height: 2em;
}

/* Show/Hide Header */

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px #fcdc00);
}

/* FOOTER */

footer {
  background-color: #fff;
  width: 100%;
  font-size: 0.85rem;
}

.wrapper-footer {
  width: 75%;
  margin: 0px auto;
  padding: 20px 0px;
}

/* MAIN */

.wrapper-main {
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  position: relative;
}

/* Vertical Line, Icons */

.line-vertical {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.line-vertical .icon-line-vertical {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.icon-line-vertical {
  padding: 2px;
  background: #fcdc00;
}

.icon {
  padding: 5px;
  background: #b0e2fd;
}

.icon,
.line-vertical .icon-line-vertical {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

/* SECTIONS */

.section {
  display: flex;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.container {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 18px 20px 20px 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 3px 0 0px rgba(0, 0, 0, 0.05);
}

.container::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #4cb272;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.left::before {
  right: -7px;
}

.left .icon {
  top: 15px;
  right: -60px;
}

.right::before {
  left: -7px;
}

.right .icon {
  top: 15px;
  left: -60px;
}

.container p {
  margin-top: 10px;
}

/* Links */

.btn-links {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-top: 10px;
  font: inherit;
  /* cursor: pointer; */
  outline: inherit;
  transition: all 0.3s ease;
}

.btn-links:hover {
  transform: scale(0.95);
}

#icon-links {
  height: 1.5em;
  width: 1.5em;
  transform: rotate(45deg);
  margin-bottom: -8px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

.links a {
  text-decoration: none;
  color: #000;
  background-color: #fcda005e;
  max-width: fit-content;
}

.links a:hover,
.links a:active {
  text-decoration: underline;
  background-color: #fcdc00;
  max-width: fit-content;
}

/* PROJECTS */

/* GUESS THE NUMBER */

#game {
  margin-top: 10px;
}
#guess-input {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #2da5ff;
  width: 30%;
  font-size: 16px;
}
#guess-btn {
  background: #ec008c;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #ec008c;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}
#guess-btn:hover {
  transform: scale(0.97);
}

/* HOVER BOARD */

.container-hoverboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 210px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  border: 1px solid #2da5ff;
  border-radius: 5px;
}

.square {
  background-color: #fff;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.square-lrg-scrn-only {
  display: none;
}

/* NASA APOD */

.apod-container {
  display: flex;
  flex-direction: column;
}

#apod-picture {
  width: 100%;
  border: 1px solid #2da5ff;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 425px) {
  .wrapper-header {
    width: 90%;
  }

  h1 {
    font-size: 2em;
  }

  nav a,
  nav button {
    margin-left: 0.5em;
  }

  .wrapper-footer {
    width: 90%;
  }

  .wrapper-main {
    width: 90%;
    margin-bottom: 0px;
  }

  .line-vertical,
  .icon-line-vertical,
  .icon {
    display: none;
  }

  .container {
    width: 100%;
  }

  .left::before {
    left: -7px;
  }

  .left .icon {
    top: 15px;
    left: -60px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .wrapper-header {
    width: 90%;
  }

  .wrapper-footer {
    width: 90%;
  }

  .wrapper-main {
    width: 90%;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 26px 28px 28px 28px;
  }
}
