@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Roboto", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ddd;
}

ul,
li {
  list-style-type: none;
}

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.wrapper-header {
  width: 75%;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
}

nav ul {
  display: flex;
}

nav a {
  padding-left: 1.5em;
  position: relative;
  bottom: -4px;
}

.icon-header {
  height: 2em;
}

/* Header Show/Hide on Scroll */

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px #fcdc00);
}

footer {
  background-color: #fff;
  width: 100%;
  font-size: 0.85rem;
}

.wrapper-footer {
  width: 75%;
  margin: 0px auto;
  padding: 20px 0px;
}

.wrapper-main {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  position: relative;
}

.line-vertical {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}

.container {
  display: flex;
}

.odd {
  justify-content: flex-start;
}

.even {
  justify-content: flex-end;
}

.container section {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}

.container section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #4cb272;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.odd section::before {
  right: -7px;
}

.even section::before {
  left: -7px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #ec008c;
}

.container section p {
  margin-top: 10px;
}

.link-external-resource {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  margin-top: 20px;
}

.link-external-resource a {
  text-decoration: none;
  color: #000;
}

.link-external-resource a:hover,
.link-external-resource a:active {
  text-decoration: underline;
  background-color: #fcdc00;
}

/* .container section .link-project a {
  text-decoration: none;
  background: #ec008c;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 400;
  transition: all 0.3s ease;
} */

/* .container section .link-project a:hover {
  transform: scale(0.97);
} */

.icon {
  padding: 5px;
  background: #b0e2fd;
}

.icon-scroll {
  padding: 2px;
  background: #fcdc00;
}

.container section .icon,
.line-vertical .icon-scroll {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.line-vertical .icon-scroll {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.odd section .icon {
  top: 15px;
  right: -60px;
}

.even section .icon {
  top: 15px;
  left: -60px;
}

/* PROJECT STYLING */

/* Number Guesser */

#game {
  margin: 20px 0;
}

#guess-input {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #2da5ff;
  width: 30%;
  font-size: 16px;
}

#guess-btn {
  background: #ec008c;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #ec008c;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

#guess-btn:hover {
  transform: scale(0.97);
}

/* Hoverboard */

.container-hoverboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 210px;
  margin: 20px auto;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 5px;
}

.square {
  background-color: #fff;
  border-radius: 2px;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.square-lrg-scrn-only {
  display: none;
}

@media (max-width: 425px) {
  .wrapper-header {
    width: 90%;
  }

  #november {
    display: none;
  }

  nav a {
    padding-left: 0.75em;
  }

  .wrapper-footer {
    width: 90%;
  }

  .wrapper-main {
    width: 90%;
  }

  .icon,
  .icon-scroll,
  .line-vertical {
    display: none;
  }

  .container {
    margin-bottom: 25px;
  }

  .container section {
    width: 100%;
  }

  .odd section::before {
    left: -7px;
  }

  .odd section .icon {
    left: -60px;
  }

  .even section::before {
    left: -7px;
  }

  .even section .icon {
    left: -60px;
  }
}

@media (min-width: 426px) and (max-width: 1023px) {
  .wrapper-header {
    width: 90%;
  }

  nav a {
    padding-left: 0.5em;
  }

  .wrapper-footer {
    width: 90%;
  }

  .wrapper-main {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .container section {
    padding: 30px;
  }
}
